@import "../../colors.scss";

.notification {
  position: fixed;
  bottom: 1em;
  right: 1em;
  animation: fadeIn ease 1s;

  background-color: $light-grey;
  border-radius: 0.5rem;
  padding: 1em;

  &-close {
    position: absolute;
    right: 1em;
    top: 1em;
    background-image: url("/assets/images/cancel-icon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.3rem;
    height: 1.3rem;
    background-color: transparent;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
