<nav *ngIf="open">
  <a href="#kitchen" (click)="onMenuButtonClick()">Кухня</a>
  <a href="#light" (click)="onMenuButtonClick()">Светильники</a>
  <a href="#interior" (click)="onMenuButtonClick()">Интерьер</a>
  <a href="#souvenirs" (click)="onMenuButtonClick()">Сувениры</a>
  <a href="#feedback" (click)="onMenuButtonClick()">Отзывы</a>
  <a href="#contacts" (click)="onMenuButtonClick()">Контакты</a>
</nav>
<button *ngIf="scrollerVisible" id="home-button" (click)="onHomeButtonClick()"></button>
<button id="menu-button" (click)="onMenuButtonClick()"></button>
