@import "../../colors.scss";

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  color: $dark-green;

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    max-width: 20vw;

    span {
      font-size: 1.1rem;
      margin: 1rem;
    }
  }

  &-image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid transparent;
    padding: 0.2rem;

    &:hover {
      animation: image-item-hover 0.3s forwards;
    }

    .order-button {
      width: 90%;
      height: 2rem;
      margin: 0.3rem;

      border: 1px solid $yellow-green;
      transition: background-color 0.2s;
      font-size: 1.2rem;
      color: $dark-green;

      &:hover {
        border: none;
        background-color: rgba($color: $dark-green, $alpha: 0.8);
        color: $light-grey;
      }
      &:active {
        border: none;
        background-color: $dark-green;
        color: $light-grey;
      }
      &.hidden {
        visibility: hidden;
      }
    }

    @keyframes image-item-hover {
      to {
        border-color: $yellow-green;
      }
    }
  }
}
