<div id="blur">
    <div id="content-box">
        <h2>Создание заказа</h2>
        <div id="order-form">
            <form>
                <label for="count">Количество<span>*</span></label>
                <input name="count" type="number" value="1" min="1" required>
                <label for="details">Ваши пожелания</label>
                <textarea name="details" rows="6"
                    placeholder="Например, размер 10х30 см, материал - осина, цвет - красное дерево"></textarea>
                <label for="contact">Способ и время связи<span>*</span></label>
                <textarea name="contact" rows="6" placeholder="Например, WhatsApp +7(123)456-78-90, звонить после 19:00" required></textarea>
                <input id="submit-button" type="submit" value="Отправить">
            </form>
        </div>
        <div id="item-info">
            <div class="image-container">
                <img src="{{ '../../assets/images/items/' + item.imagePath }}">
            </div>
            <h3>{{ item.name }}</h3>
        </div>
        <button id="close-form" (click)="close()"></button>
    </div>
</div>
