<app-menu></app-menu>
<div id="main-image">
    <img src="../../assets/images/white-logo.png">
</div>
<div class="section container">
  <h1>Кухня</h1>
  <p>Деревянные принадлежности для кухни, сделанные с душой</p>
  <div class="gallery">
    <img src="../../assets/images/items/kitchen/1.jpg" class="gallery-item">
    <img src="../../assets/images/items/kitchen/2.jpg" class="gallery-item">
    <img src="../../assets/images/items/kitchen/3.jpg" class="gallery-item">
    <img src="../../assets/images/items/kitchen/4.jpg" class="gallery-item">
  </div>
</div>
<div class="section container">
  <h1>Светильники</h1>
</div>
<div class="section container">
  <h1>Интерьер</h1>
</div>
<div class="section container">
  <h1>Сувениры</h1>
</div>
<div class="section container">
  <app-map [options]="mapOptions" style="height: 40vh; width: 20vw;"></app-map>
</div>
