@import "../../colors.scss";

.review-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30vw;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20vw;
  padding: 0.5em 1em;
  margin: 1em 0;

  background-color: $almost-white;
  border-radius: 1em;
  border: 3px solid $yellow-green;
  color: $dark-green;

  &:nth-child(even) {
    align-self: flex-end;
  }
}
